.alert-content {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.alert {
  width: 350px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  -webkit-animation: fadein 1s;
}

@media (max-width: 480px) {
  .alert-content {
    right: 5px;
    bottom: 5px;
  }

  .alert {
    width: 80vw;
  }
}

.alert-badge {
  width: 5%;
  padding: 10px;
  display: inline-block;
}

.alert-body {
  width: 85%;
  padding: 10px;
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

.alert-title {
  font-weight: bold;
  margin: 0 0;
  color: white;
}

.alert-text {
  margin: 0 0;
  color: white;
}

.error {
  background: rgba(207, 42, 42, 0.75);
}

.success {
  background: rgba(79, 204, 68, 0.75);
}

.warning {
  background: rgba(255, 194, 25, 0.75);
}
