@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes scale-up-center {
  0% {
    font-size: 10px;
  }
  100% {
    font-size: 60px;
  }
}
