.content {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-code {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.status-code-icon {
  font-size: 60px;
  -webkit-animation: scale-up-center 1s;
}
