header {
  margin: 0;
  height: 60px;
  -webkit-animation: fade-slide-down 1s;
  background-color: rgb(248, 244, 244);
}

.left-header {
  padding: 15px 0px 15px 80px;
  margin: 0 auto;
  display: inline-block;
}

.binary-logo {
  height: 32px;
  cursor: pointer;
}

.right-header {
  padding: 15px 80px 15px 0px;
  margin: 0 auto;
  display: inline-block;
  float: right;
}

.notification-logo {
  display: inline-block;
  margin: 0;
  fill: grey;
  -webkit-transition: all 0.5s ease;
}

.notification-logo:hover {
  fill: black;
  -webkit-transition: all 0.5s ease;
}

.name-circle {
  background: #ffc219;
  color: #fff;
  padding: 5px 13px;
  border-radius: 50%;
  font-size: 30px;
  -webkit-transition: all 0.5s ease;
}

.name-circle:hover {
  background: #efab28;
  -webkit-transition: all 0.5s ease;
}

.menu-username {
  border-bottom: 2px solid #7a7a7a;
  padding: 5px 10px;
  color: #7a7a7a;
  font-weight: 700;
  font-size: 17px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name-circle:active + .menu {
  display: block;
}

.menu-items {
  padding: 10px 0;
  margin: 5px;
  list-style-type: none;
}

.menu-item {
  font-size: 16px;
  text-align: left;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  background-color: #cecbcb57;
}

#menu-toggle {
  display: none;
}

.menu {
  visibility: hidden;
  opacity: 0;
  background-color: white;
  position: absolute;
  right: 80px;
  top: 60px;
  padding: 5px 20px;
  box-shadow: 10px 2px 15px rgba(128, 128, 128, 0.5);
  -webkit-transition: all 0.3s ease;
  width: 165px;
}

#menu-toggle:checked + .menu {
  visibility: visible;
  opacity: 1;
}

#notification-icon {
  width: 25px;
  height: 25px;
}
